[submodule "hammers/tmux/plugins/tpm"]
	path = hammers/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule "hammers/zsh/zplug"]
	path = hammers/zsh/zplug
	url = https://github.com/zplug/zplug.git
	ignore = dirty
[submodule "hammers/vim/bundle/Vundle"]
	path = hammers/vim/bundle/Vundle
	url = https://github.com/VundleVim/Vundle.vim.git
	ignore = dirty
[submodule "hammers/emacs/3rdparty/librime"]
	path = hammers/emacs/3rdparty/librime
	url = https://github.com/rime/librime.git
	ignore = dirty
	ignore = dirty
[submodule "hammers/emacs/3rdparty/liberime"]
	path = hammers/emacs/3rdparty/liberime
	url = https://github.com/merrickluo/liberime.git
[submodule "hammers/emacs/3rdparty/lsp-ivy"]
	path = hammers/emacs/3rdparty/lsp-ivy
	url = https://github.com/emacs-lsp/lsp-ivy.git
[submodule "hammers/gdb/plugins/dashboard"]
	path = hammers/gdb/plugins/dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "hammers/emacs/3rdparty/rg.el"]
	path = hammers/emacs/3rdparty/rg.el
	url = https://github.com/dajva/rg.el.git
[submodule "hammers/emacs/3rdparty/systemrdl-mode"]
	path = hammers/emacs/3rdparty/systemrdl-mode
	url = https://github.com/paul-donahue/systemrdl-mode.git
